body{
  background-color: rgba(0,0,0,.25);
    font-family: 'Cantarell', sans-serif;
}

.page{
  display: flex;
  flex-direction: row;
  /*border: 2px solid black;*/
}
.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: solid 2px orange;*/
  margin-right: 0px;
  padding-right: 0px;
  background-color: rgba(0,0,0,.3);
}

header{
  /*border-bottom: 2px solid rgba(60,60,255,1);*/
  font-size: 40px;
  /*background-color: rgba(60,150,255,.6);*/
  font-weight: 900;
  background-image: url(fmi.jpg);
  background-size: 70px;

}
.title{
  padding: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  /*border: 2px solid green;*/
}

.slogan{
  font-size: 22px;
  padding: 0% 0% 1.5% 20%;
  font-weight: 600;
    /*border-bottom: 2px solid rgba(60,60,255,1);*/
    width: 100%;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: rgba(255,255,255,.5);
  border: 1px solid blue;
}
.buttons{
  padding: 0px 10px 2px 10px;
  margin: 1% 3%;
  border: solid 2px black;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 20rem;
  font-size: 13px;
  height: 80%;
}
.buttons:hover{
  background-color: rgba(255,255,255,1);
}
.sidebar{
display: flex;
flex-direction: column;
height: 70%;
text-align: center;
align-items: center;
justify-content: center;
width: 30%;
padding: 2rem .5rem 10rem .5rem;
font-weight: 600;
/*border: solid red 5px;*/
}
.sidebar:link{
color: orange;
}
.link {
  color: darkorange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.link2{
  color: darkorange;
  font-weight: 600;
}

.link2:hover{
  color:rgba(0,150,255,1);
  font-size: 110%;
}

.images{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
img{
  padding: 20px 0px;
}

d{
  font-weight: 900;
}
b{
  font-weight: 900;
}
i{
  font-style: italic;
}
h{
  padding: 50px 0px 0px 50px;
}


/*
c{
  padding: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
c:link{
color:rgba(255,106,0,1);
}
c:hover{
  cursor: crosshair;
  color:rgba(255,255,255,1);
}*/


svg{
  color:rgba(255,106,0,1);
  height:30px;
  width: 30px;
}
svg:hover{
  color:rgba(255,255,255,1);
  cursor: crosshair;
  height:40px;
  width: 40px;
}
.link:hover{
  color:rgba(255,255,255,1);
  cursor: crosshair;
  font-size: 110%;
}

article{
  padding: 2rem 2rem;
  margin: 0rem 0rem 0rem 2rem;
  background-color: rgba(255,255,255,.8);
  width: 80%;
  line-height: 20px;
      text-align: center;
  text-align: left;
}

h {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-left: 0px;
}

table{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
td,th{
  padding: 3px;
  border: .5px solid black;
}

#spec{
  background-color: yellow;
}
