.profilehelplinks{
  padding: 7px;
  border: solid 2px black;
  border-radius: 2rem;
  border-style: solid;
  border-color: black;
  text-align: center;
  align-items: center;
  font-size: 25px;
  width: 60%;
}
.profilehelplinks:hover{
  background-color: rgb(0, 204, 255);
  color: white;
  font-weight: 900;
  border: solid 3px white;
  font-family: 'Calibri', Fallback, sans-serif;
}
