<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<html>
<body>
  <header>
    <div class="title"> Free Market Insights</div>
    <div class="slogan">A Rational Approach to an Irrational Market</div>

    <div class="button">
      <a href="/" class="buttons"> Home </a>
      <a href="/about" class="buttons"> About </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
      <a href="/contact" class="buttons"> Contact </a>
    </div>

  </header>

<article>
  <p>
    Ryan is a Finance specialist with 6 years of financial data research and
    currently works in the Finance field at a Fortune 500 coporation.

    <br>
    <br>
    <br>
    <br>

</article>
</body>
</html>
