<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<html>
<body>
  <header>

    <div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="/about" class="buttons"> About </a>
      <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
      <a href="/investors" class="buttons"> Invest </a>
      <a href="/researchlinks" class="buttons">Research</a>
      <a href="/login" class="buttons">Logout</a>
    </div><br>

      <div class="spacer">
        <div class="title"> Free Market Insights</div>
        <div class="slogan">Your Profile</div>
      </div>

  </header>

<article>
  <p>
Free Market Insights is Your Place For Niche Data And Daily Information
    <br>
    <br>
    <br>
    <br>

</article>
</body>
</html>
