<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
Test data
  <div class="column">
    <!-- {{range .Forumstitle}}
    <h>{{.}}</h>
    {{end}} -->


    {{range .Forumscontent}}
    {{.Postdate.Value}}
    {{.Postcount.Value}}
    {{.Poster.Value}}
    {{.Title.Value}}
    {{.Contents.Value}}
    {{.Imagefilelocation.Value}}
    {{end}}
  </div>



</body>

</html>
