<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
Test data
  <div class="column">
    <!-- {{range .}}
    {{.}}
    {{end}} -->


  </div>



</body>

</html>
