<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

  <div class="column">
    <h>IcyClan Forums</h>
<div class="row">
<br>
  <a href="/leaderboard"><div class="button">Leaderboards</div></a>
  <a href="/donate"><div class="button">Donate</div></a>
  <a href="/logout"><div class="button">Logout</div></a>
</div>

<body>


    <h>Threads</h><br>
    {{range .}}
    <a href="/forumscontent/{{.Forumstitle}}" style="padding:2px;border:2px solid cyan;background-color:white;" >{{.Forumstitle}}</a><br>
    {{end}}


    <h>Post Your Own</h><br>

  <form action="/forums" method="POST" class="forumsform">
    Title <input type="text" name="Title" value="" size="50" maxlength="200" required><br>
    Contents  <input type="text" name="Contents" size="50"><br>
    File Name  <input type="text" name="Imagefilename" value="" required><br>
      Accepts .jpgs<input type="file" name="pic" accept=".jpg"><br><br>

        <input type="submit" value="Submit" class="loginformsubmit"/><br>

  </form>
  </div>



</body>

</html>
