<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

  <div class="column">
    <h>IcyClan Forums</h>
<div class="row">
<br>
  <a href="/leaderboard"><div class="button">Leaderboards</div></a>
  <a href="/donate"><div class="button">Donate</div></a>
  <a href="/logout"><div class="button">Logout</div></a>
</div>

<body>

  <div class="row">
      <div class="column">
    <h>Threads</h><br>
    {{range .}}
    <a href="/forumscontent/{{.Forumstitle}}" style="padding:2px;border:2px solid cyan;background-color:white;" >{{.Forumstitle}}</a><br>
    {{end}}
  </div>
  <div class="column">
    <h>Post Your Own</h><br>

  <form action="/forums" enctype="multipart/form-data" method="POST" class="forumsform" style="margin-left:200px;">
    Title: <input type="text" name="Title" value="" maxlength="200" required><br>
    Message:  <input type="text" name="Contents"><br>
      Image: <input type="file" name="pic" accept="image/*"><br><br>

        <input type="submit" value="Submit" class="loginformsubmit"/><br>

  </form>
  </div>
</div>
  </div>



</body>

</html>
