<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>

  <div class="column">
    <h>IcyClan Forums</h><br>
    {{range .}}
    <a href="/forumscontent/{{.Forumstitle}}" style="padding:5px;" >{{.Forumstitle}}</a>
    {{end}}




    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h>Post Your Own</h><br>

  <form action="/forums" method="POST" class="loginform">
    Title <input type="text" name="Title" value="" size="50" maxlength="200" required><br>
    Contents  <input type="text" name="Contents" size="50"><br>
    File Name  <input type="text" name="Imagefilename" value="test" required><br>
        <input type="submit" style="border:2px solid black;size=20px;" value="Submit"/><br>

  </form>

<br><br><br><br><br><br><br>
  </div>



</body>

</html>
