<html>
<head>
  <link href="/css/mcleod-reset.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<div class="row">

  <a href="/leaderboard"><div class="button">Leaderboards</div></a>
  <a href="/forums"><div class="button">Forums</div></a>
  <a href="/donate"><div class="button">Donate</div></a>
  <a href="/logout"><div class="button">Logout</div></a>
</div>

<body>
  <div class="column">
    <h>{{.Forumstitle}}</h><br><br>
    {{range .Forumscontent}}
    {{.Postdate.Value}}<br>
    Post Number: {{.Postcount.Value}}<br>
    OP: {{.Poster.Value}}<br>
      Title: {{.Title.Value}}<br><br>
      {{.Contents.Value}}
      <img src="/forums/images/{{.Imagefilelocation.Value}}"/>
      <br><br><br><br>
    {{end}}


    <h>Post a Reply to this Thread</h><br><br>
  <form action="/forums" method="POST" class="loginform">
    <input type="hidden" name="Title" value="{{.Forumstitle}}" size="50" maxlength="200" required><br>
    Contents  <input type="text" name="Contents" size="50"><br>
    File Name  <input type="text" name="Imagefilename" value="" required><br>
      Accepts .jpgs<input type="file" name="pic" accept=".jpg"><br><br>

        <input type="submit" style="border:2px solid black;size="20px";" value="Submit" class="submit"/><br><br><br>

  </form>
<br><br><br><br>
  </div>

</body>

</html>
