<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div class="banner">
    <div class="button">leaderboards</div>
    <div class="button">forums</div>
    <div class="button">donate</div>
    <div class="button" href="/logout">logout</div>
  </div>

The Future Icyclan Penthouse

</body>

</html>
