<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>

  <div class="column">
    <h>Weclome to IcyClan</h><br>
    <a href="/leaderboards"><div class="button">Leaderboards</div></a>
    <a href="/forums"><div class="button">Forums</div></a>
    <a href="/donate"><div class="button">Donate</div></a>
    <a href="/logout"><div class="button">Logout</div></a>
  </div>



</body>

</html>
