<!doctype html>
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<header>

  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
    <a href="/researchlinks" class="buttons">Research</a>
    <a href="/profile" class="buttons">My Profile</a>
  </div><br>

    <div class="spacer">
      <div class="title"> Investors Welcome</div>
      <div class="slogan">Dont Want To Pay Massive Transaction Fees To Achieve Diversification?</div><br><br>
      <div class="slogan">Invest With Us</div><br><br>
      <div class="slogan">Receive Bi-Weekly, Monthly, or Annual Payments Based on Market Conditions And Investment Threshold </div><br><br>
      <div class="slogan">Track Your Earnings Easily At Your Profile </div><br><br>
      <div class="slogan">Investing Takes Seconds And Is Secure And Fund Retrival Is A Breeze!</div><br><br>



      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="investorform">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="6N95FP6NH44JE">
      <table>
      <tr><td><input type="hidden" name="on0" value="Free Market Insights Fund Investment">Free Market Insights Fund Investment</td></tr><tr><td><select name="os0">
      	<option value="Starter">Starter $50.00 USD</option>
      	<option value="Feeler">Feeler $100.00 USD</option>
      	<option value="Tester">Tester $500.00 USD</option>
      	<option value="Investor">Investor $1,000.00 USD</option>
      	<option value="Angel Investor">Angel Investor $10,000.00 USD</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>




    </div>

</header>


</html>
