<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<body>

<form action="/joinleaderboard" method="POST">
  <font style="font-family: 'raitons';font-size=200%;">To Join the Leaderboards...<br>
  The system needs your valid Epic Username for stat tracking purposes</font><br><br>
  Email:<br>
  <input type="email" name="email" value="" required><br>
  Epic Username:<br>
  <input type="epicusername" name="epicusername" value="" required><br>
  <br><br>
  <input type="submit" class="loginformsubmit" value="Join Leaderboards">
</form>



</body>
</html>
