<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div class="row">
    <h>Icy Leaderboards</h>
    <a href="home"><div class="smallbutton" style="margin-left:200px;">Home</div></a>
  </div>
<br><br>

<div class="row">
<div class="column">

  <table class="leaderboardtable">
    {{range .}}
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Squad Kills</th>
        <th>Duo Kills</th>
        <th>Solo Kills</th>
        <th>Squad Matches</th>
        <th>Duo Matches</th>
        <th>Solo Matches</th>
        <th>Total Kills</th>
        <th>Total Matches</th>
        <th>Kills/Match</th>
      </tr>
    </thead>
    <tbody>
      {{range .Rank}}
      <tr>
        <td>{{.Rankvalue}}

        {{range .Leaderboard}}
        <td>{{.Epicusername.Value}}</td>
        <td>{{.Squadkills}}</td>
        <td>{{.Duokills}}</td>
        <td>{{.Solokills}}</td>
        <td>{{.Squadmatch}}</td>
        <td>{{.Duomatch}}</td>
        <td>{{.Solomatch}}</td>
        <td>{{.Totalkills}}</td>
        <td>{{.Totalmatch}}</td>
        <td>{{.Killspermatch.Value}}</td>

      </tr>
        {{end}}
        {{end}}
    </tbody>

  </table>
</div>

<a href="/joinleaderboard"><div class="leaderboardbutton">Join Leaderboards</div></a>
</div>


<br><br><br><br>
</body>

</html>
