<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
<h>Icy Leaderboards</h>
<br><br>

<div class="row">
<div class="column">

  <table class="leaderboardtable">
    {{range .}}
    <thead>
      <tr>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{.Epicusername.Value}}</td>
      </tr>
    </tbody>
    {{end}}
  </table>
</div>

<a href="/joinleaderboard"><div class="leaderboardbutton">Join Leaderboards</div></a>
</div>


<br><br><br><br>
</body>

</html>
