<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

  <header>

    <div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="/about" class="buttons"> About </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
      <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
      <a href="/investors" class="buttons"> Invest </a>
      <a href="/researchlinks" class="buttons">Research</a>
      <a href="/signup" class="buttons">SignUp / Login</a>
    </div><br>

    <div class="spacer">
      <div class="title"> Free Market Insights</div>
      <div class="slogan">A Rational Approach to an Irrational Market</div>
    </div>


  </header>
<body>

  <div class="sidebyside">
    <form action="/profile" method="POST">
      <font style="font-family: 'raitons';font-size=200%;">Login Here</font><br><br>
      email:<br>
      <input type="email" name="email" value="" required><br>
      password:<br>
      <input type="password" name="pass" value="" required><br>
      <br><br>
      <input type="submit" style="color: black; background-color:white; font-family: 'raitons', Fallback, sans-serif;" value="Login">

    </form>
  </div>


</body>
</html>
