<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>


<div class="column">
<a href="/signup"><button class="signupbutton">SIGN UP Here</button></a>

<form action="/login" method="POST" style="border:5px solid black;">
  <font style="font-family: 'cambria';">Login Here</font><br><br>
  email:<input type="email" name="email" value="" required><br>
  password:<input type="password" name="pass" value="" required><br>
  <br><br>
  <input type="submit" style="color: black; background-color:white;" value="Login">

</form>
</div>

</body>

</html>
