<html>
<head>
  <link href="css/mcleod-reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>

<br><br>
<div class="column">
<a href="/signup"><button class="signupbutton">SIGN UP HERE</button></a>

<form action="/login" method="POST" class="loginform">
  <div class="column">
  <div class="smallfont">Already Signed Up?</div>
  <div>Login Below</div>
  </div>
  <br>
  Email:<input type="email" name="email" value="" required><br>
  Password:<input type="password" name="pass" value="" required><br>

  <input type="submit" value="Login" class="loginformsubmit">

</form>
</div>
<br><br><br><br>
</body>

</html>
