<!doctype html>
<html>

<head>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

<!--- javascript -->
<script type="text/javascript">
  $(document).ready(function(){
    $('#sortable').dataTable({
        'iDisplayLength': 100
    })})
</script>



</head>

<header>

  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="/about" class="buttons"> About </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
    <a href="/investors" class="buttons"> Invest </a>
    <a href="/researchlinks" class="buttons">Research</a>
    <a href="/signup" class="buttons">Sign Up</a>
    <a href="/profile" class="buttons">My Profile</a>
  </div><br>

  <div class="spacer">
    <div class="title"> Free Market Insights</div>
    <div class="slogan">A Rational Approach to an Irrational Market</div>
  </div>

</header>

<body>
<img src="/test.png"></img>

<div class="page">
<div class="posts">

<div class="posttitle">
  Market Mentions
</div>

<font style="size:16px;font-family:'Calibri';">Today's Analyst Ratings **Updating Every 12 Hours**</font><br>
<a href="/signup"><font style="size:16px;font-family:'Calibri';border:2px solid black;border-radius:20rem;background-color:white;padding:5px;">Become a Free Member to Gain Access to Historical Data</font></a><br><br>
<br>
  <table id="sortable">
    <thead>
      <tr>
        <th>Target Price</th>
        <th>Today's Price</th>
        <th>Exp Return</th>
        <th>Anul_EPS</th>
        <th>Ticker</th>
        <th>News Title</th>
      </tr>
    </thead>

    <tbody>

      {{range .Marketmentions}}
      <tr>
        <td>{{.Target}}</td>
        <td>{{.Price.Value}}</td>
        <!-- Must return .Value because we are ranging over a NullString which is a 2 variable type -->
        <td>{{.Returns.Value}}</td>
        <td>{{.A_eps.Value}}</td>
        <td>{{.Ticker.Value}}</td>
        <td>{{.Note.Value}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>


<div class="title">
  Portfolio
</div><br>
<br>
  <table class="portfolio">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Target Price</th>
        <th>Exp Return</th>
      </tr>
    </thead>
    <tbody>
      {{range .Portfoliolist}}
      <tr>
        <a href="http://www.google.com/search?q=rrc+stock+price"><td>{{.Ticker}}</td></a>
        <td>${{.Price.Value}}</td>
        <td>${{.Target_price}}</td>
        <td>{{.Exp_return.Value}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>





<div class="title">

  SnP and DOW
</div><br>
<table id="sortable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Portfolio</th>
      <th>SnP</th>
      <th>NasDaq</th>
      <th>Portfolio Return</th>
      <th>SnP Return</th>
      <th>NasDaq Return</th>
    </tr>
  </thead>
  <tbody>
    {{range .Pperformance}}
    <tr>
      <td>{{.Date.Value}}</td>
      <td>{{.P1.Value}}</td>
      <td>{{.SnP.Value}}</td>
      <td>{{.Nasdaq.Value}}</td>
      <td>{{.Portfolioreturn.Value}}</td>
      <td>{{.Snpreturn.Value}}</td>
      <td>{{.Nasdaqreturn.Value}}</td>
    </tr>
      {{end}}
  </tbody>
</table>






<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

</div>


<div class="sidebar">
  <d>Book List</d> <br><br>
    <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=0743200403&asins=0743200403&linkId=878e479b847b1fd021721a2f8ae61582&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">One Up on Wall Street - Peter Lynch</a><br><br>
    <a class="link" href="">The Paleo Solution - Robb Wolf</a><br><br>
    <a class="link" href="">Godel Escher Bach - Douglas Hofstadter</a><br><br>
    <a class="link" href="">The Electric Kool-Aid Acid Test - Tom Wolfe</a><br><br>
    <a class="link" href="">Twilight of the Idols - Fredrick Nietzsche</a><br><br>



    <d>Strengthen Your Mind and Your Pockets</d><br>
    <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=B00NB86OYE&asins=B00NB86OYE&linkId=428209263703e9c0969e2310d75fb6f2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"> Audio Books </a>
    <a class="link" href="https://www.swagbucks.com"> Swag Out!</a>
    <a class="link" href="https://www.robinhood.com"> Trade with RobinHood</a>
    <a class="link" href="https://www.youtube.com/user/JordanPetersonVideos/videos"> Not For the Angry Atheist</a>
      <br><br><d>Connect with Me!</d>
        <a href="mailto:freemarketinsights@gmail.com">
          <svg viewBox="0 0 100 100">
          <path
                d="M 32.00,10.00
                   C 32.00,10.00 82.00,10.00 82.00,10.00
                     92.66,10.02 93.98,11.34 94.00,22.00
                     94.00,22.00 94.00,61.00 94.00,61.00
                     94.00,64.67 94.57,73.92 92.83,76.77
                     90.56,80.48 85.75,79.99 82.00,80.00
                     82.00,80.00 24.00,80.00 24.00,80.00
                     19.13,80.00 7.75,81.46 5.02,76.85
                     3.81,74.80 4.00,71.35 4.00,69.00
                     4.00,69.00 4.00,42.00 4.00,42.00
                     4.00,42.00 4.00,20.00 4.00,20.00
                     4.03,15.51 3.65,14.12 7.15,11.02
                     12.46,9.13 25.73,10.00 32.00,10.00 Z
                   M 16.10,29.96
                   C 16.10,29.96 40.00,49.35 40.00,49.35
                     43.24,51.80 46.67,54.59 51.00,53.47
                     54.27,52.63 59.27,48.38 62.00,46.20
                     67.23,42.03 78.98,33.40 82.79,28.99
                     84.95,26.49 89.01,19.90 85.40,17.02
                     83.83,15.77 79.98,16.00 78.00,16.00
                     78.00,16.00 36.00,16.00 36.00,16.00
                     30.40,16.00 18.11,15.44 13.31,16.60
                     8.68,20.53 12.81,26.47 16.10,29.96 Z
                   M 10.00,64.00
                   C 10.00,66.19 9.79,69.84 11.02,71.69
                     12.75,74.27 16.27,73.98 19.00,74.00
                     19.00,74.00 58.00,74.00 58.00,74.00
                     58.00,74.00 80.00,74.00 80.00,74.00
                     82.14,73.96 84.77,74.04 86.40,72.40
                     88.32,70.48 87.99,66.54 88.00,64.00
                     88.00,64.00 88.00,35.00 88.00,35.00
                     88.00,35.00 65.00,52.79 65.00,52.79
                     61.12,55.84 55.99,60.07 51.00,60.79
                     44.10,61.77 39.04,57.61 34.00,53.60
                     34.00,53.60 11.00,35.00 11.00,35.00
                     9.10,39.80 9.99,57.77 10.00,64.00 Z" />
        </svg>
      </a>
      <a href="https://twitter.com/fmarketinsights">
        <svg viewBox="0 0 100 100">
          <path d="M 69.00,12.19
                   C 75.47,12.92 78.27,16.53 81.29,16.71
                     83.75,16.86 89.53,14.05 92.00,13.00
                     92.00,13.00 88.00,22.00 88.00,22.00
                     88.00,22.00 94.00,21.00 94.00,21.00
                     91.12,27.09 88.01,28.03 86.02,32.00
                     84.64,34.77 85.15,38.00 84.83,41.00
                     84.41,44.92 82.69,50.37 81.13,54.00
                     74.51,69.43 60.89,81.27 44.00,83.85
                     44.00,83.85 29.00,83.85 29.00,83.85
                     21.81,83.91 9.84,81.60 6.00,75.00
                     15.22,76.45 22.29,73.96 30.00,69.00
                     22.00,66.20 17.53,63.56 15.00,55.00
                     15.00,55.00 21.00,55.00 21.00,55.00
                     12.53,52.11 9.42,45.47 9.00,37.00
                     9.00,37.00 15.00,39.00 15.00,39.00
                     8.34,30.78 7.15,24.53 12.00,15.00
                     25.40,25.71 30.28,32.47 49.00,34.00
                     46.55,21.59 56.33,10.76 69.00,12.19 Z
                   M 87.00,22.00
                   C 87.00,22.00 88.00,23.00 88.00,23.00
                     88.00,23.00 88.00,22.00 88.00,22.00
                     88.00,22.00 87.00,22.00 87.00,22.00 Z" />
        </svg>
      </a>

</div>




</body>

<!--
{{range .Target}}
  {{.}}
{{end}}
{{range .Price}}
  {{.}}
{{end}}
{{range .Returns}}
  {{.}}
{{end}}
{{range .Ticker}}
  {{.}}
{{end}}
{{range .Note}}
  {{.}}
{{end}}
{{range .Date}}
  {{.}}
{{end}}
{{range .Q_eps}}
  {{.}}
{{end}}
{{range .A_eps}}
  {{.}}
{{end}}
{{range .Report}}
  {{.}}
{{end}} -->

</html>
