<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<html>
<header>

    <div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="/about" class="buttons"> About </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
      <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
      <a href="/investors" class="buttons"> Invest </a>
      <a href="/researchlinks" class="buttons">Research</a>
      <a href="/signup" class="buttons">SignUp / Login</a>
    </div><br>

    <div class="spacer">
      <div class="title"> Free Market Insights</div>
      <div class="slogan">Your Profile</div>
    </div>

</header>

<body>
    <div class="posttitle">Investment Account Balance</div>


Balance:{{.Balance.Value}}<br>



</body>
</html>

{{range .Balance}}
    {{.}}
{{end}}
