<!doctype html>
<html>

<head>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

</head>

<header>

  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="/about" class="buttons"> About </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
    <a href="/investors" class="buttons"> Invest </a>
    <a href="/researchlinks" class="buttons">Research</a>
    <a href="/login" class="buttons">Logout</a>
  </div><br>

    <div class="spacer">
      <div class="title"> Free Market Insights</div>
      <div class="slogan">Your Profile</div>
    </div>

</header>

<body>
  <br><br>
  &nbsp;Hello&nbsp;&nbsp;{{.Email.Value}}<br><br>
  &nbsp;Your Investment Account Balance is&nbsp;&nbsp;${{.Balance.Value}}<br><br><br>
  <a href="/marketmentions"><div class="buttons">All Market Mentions Data<div></a>


</body>
</html>

{{range .}}
{{end}}
