<!doctype html>
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<header>

  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="/about" class="buttons"> About </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
    <a href="/investors" class="buttons"> Invest </a>
    <a href="/profile" class="buttons">Profile</a>
  </div><br>

    <div class="spacer">
      <div class="title"> Free Market Insights</div>
      <div class="slogan">Research Links</div>
    </div>

</header>

<body>

<div class="researchlinks"><br><br>
<a href="/research/eps" class="researchlink"> A Remark on Earnings Per Share</a><br>
<a href="/research/roa" class="researchlink"> How the Market Reacts to Asset Efficiency</a>
</div>

</body>

</html>
