<!doctype html>
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<html>

<header>

  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link re="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script type="Text/javascript" chartset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery/dataTables.js"></script>

  <div>
  <div class="spacer"> <div class="title">Free Market Insights</div> <a href="/research" class="contents">Research</a></div><br>
  <div class="slogan">A Rational Approach to an Irrational Market</div>
  </div>

  <div class="button">
    <a href="/" class="buttons"> Home </a>
    <a href="/about" class="buttons"> About </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
  </div>

</header>

<body>

<div class="researchlinks">
<a href="/research/eps"> A Remark on Earnings Per Share</a>
<a href="/research/roa"> How the Market Reacts to Asset Efficiency</a>
</div>

</body>

</html>
