<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<body>

<form action="/signup" method="POST">
  <h>Join IcyClan and Get Connected</h><br><br>
  Email:<br>
  <input type="email" name="email" value="" required><br>
  Password:<br>
  <input type="password" name="password" value="" required><br>
  <br><br>
  <input type="submit" style="size:16px;color: black; background-color:white; font-family: 'raitons', Fallback, sans-serif;border:2px solid black;" value="Sign Up">
  <br><br><br>
  <a href="/login"><font style="size:12px;font-family:'Calibri';border:2px solid black;border-radius:20rem;background-color:white;padding:5px;">Already A Member? - Login Here</font></a>
</form>



</body>
</html>
