<!doctype html>

<link href="/css/mcleod-reset.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<html>
<body>
  <header>
    <div class="title"> Free Market Insights</div>
    <div class="slogan">A Rational Approach to an Irrational Market</div>

    <div class="button">
      <a href="/" class="buttons"> Home </a>
      <a href="/about" class="buttons"> About </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
      <a href="/contact" class="buttons"> Contact </a>
    </div>

  </header>
<article>
  <p>

    <form action="/profile" method="POST">
      email:<br>
      <input type="email" name="email" value="" required><br>
      password:<br>
      <input type="password" name="pass" value="" required><br>
      <br><br>
      <input type="submit" style="color: black; background-color:white; font-family: 'MyWebFont', Fallback, sans-serif;" value="Sign Up">

    </form>




    <br>

</article>
</body>
</html>
