<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>

<header>



  <div class="title"> Free Market Insights</div>
  <div class="slogan">A Rational Approach to an Irrational Market</div>


  <div class="button">
    <a href="/" class="buttons"> Home </a>
    <a href="/about" class="buttons"> About </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
    <a href="mailto:freemarketinsights@gmail.com" class="buttons"> Contact </a>
  </div>

</header>

<body>
<div class="page">
<div class="posts">



<article>

<!--8-4-17-->
  <h>ROA Shows Excessive Returns</h>
  <p>

    I first discovered the excessive tendancies of High ROA - Return on Assets- Stocks<br>
    a few years ago reading Asness, Frazzini, and Pedersen's <a class="link2" href="http://bit.ly/2v5MWQF">Quality Minus Junk</a><br>
    <br>
    Return on Assets is a metric of how much Net Income is earned from an Asset Base   ROA = NI / A<br>
    <br>
    They found excess returns, and the work acts as one of the first complex, comprehensive,<br>
    and competitive stock models that attempts to incorperate most of the prior academic research.<br>
    <br>
    However, they only use ROA as a single component of their theorized high quality stock.<br>
    <br>
    The variable blending done in the paper causes a blocks visibility to the prominent drivers<br>
    <br>
    As investors become aware and can incorperate the learnings and strategies present in <br>
    this paper, the market will adjust to incorperate the awareness of the new learnings,<br>
    but will still act irrationally around the weightings of the relevant variables<br>
    <br>
    This behavior may cause return swings between variables where one Metric or Characteristic<br>
    becomes the flavor of the month/year/ect.<br>
    but the duration may be variable as well.<br>
    <br>
    Considering these market behaviors, we like to look for sustained and consistent market returns<br>
    which may shed insight on factors that are overbought/overvalued or are just beginning to<br>
    become a fad.<br>
    <br>
    I am continuing to gather data to conduct additional tests on ROA,<br>
    however, looking at monthly returns over the past two years,<br>
    we see a significant return differential between stocks selected with the model ( 1's )<br>
    and those that were not ( 0's )<br>
    <br>
    <img src="/pics/ROA-8-4.JPG"><br>
    <br>
    Stocks with a       4 * ROA > 2  --->     ROA > 1/2   <br>
    <br>
    saw a <b>4 month</b> annualized return of <b>32%</b> while the rest of the market grew 22%.<br>
    <br>
    This formula was actually even more optimized before I rounded up to generalize the concept<br>
    in attempts to not overly optimize the data set.<br>
    <br>
    It may be interesting to note that the trend does not appear to persist in months 5 as the<br>
    data becomes old news.<br>
    <br>
    The Asset and Net Income values were pulled at the fiscal year end for the SnP600 stocks
    and were held into the following year, implying the market took ~4 months to accurately rebalance funds<br>
    to reflect the new information.<br>
    <br>
    This result is surprising for a 2017 world where technology should be making these moves occur<br>
    much more quickly.<br>
    <br>
    To differentiate between a recent and now dead fad, or a persistent pattern is difficult.<br>
    Even with the grandest of datasets, there can still be questions of fad durations and current<br>
    market conditions never reacting like previous time periods.<br>
    <br>
    However, I do enjoy retesting research I've read years ago that was published even many more year<br>
    before, and still finding replications of previous market observations.<br>
    <br>
    Until Artifical Intelligence reaches financial markets and implements methodologies unimaginable<br>
    by a human mind, we will likely continue to: identify, attempt to capitalize on, snowball with other investors<br>
    and subsequently repeat trends that have happened before.<br>
    <br>
    Concepts from Human Psychology and Game Theory echo this result and suggest the game being played may<br>
    be reduced to one of timing.<br>
    Determining when to exit is always difficult as these excess returns may be driven by a few big winners<br>
    which can be easy to exit prematurly, and just as easy to wait too long with a passive strategy.<br>
<br>
  </p>



  <h> A Note on Dividend Growth</h>
  <p>To round off our analysis of Peter Lynch's <a class="link2" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=0743200403&asins=0743200403&linkId=878e479b847b1fd021721a2f8ae61582&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">One Up on Wall Street</a>
    we must take a look at the stock prices of Dividend Growth stocks.<br><br>
    Dividends are the most direct way for an investor to earn cash from a company<br>
    A few reasons why dividend growth may predict future stock appreciation are: <br>
    1) The company is in good health since it can afford to pay dividends <br>
    2) Management's chosen dividend strategy will likely until new management comes in<br>
    3) Wealthy conservative investors use dividends as income streams and are always researching<br><br>
    Some investors choose not to respect dividends in fear that the company has run out of investments opportunities for its cash flows.<br><br>
    Here at FMI, we consider opinions, but assess the data to determine current truth. <br>
    Let's see how companies who quarter over quarter grow Dividends stack up compared to other stocks <br><br>
    Keeping with Lynch's "Small Stock" suggestion, we observe the SnP 600 which has an average stock price of $38. <br><br>
    Below we has the top 50 Dividend Growth stocks in the Snp600.<br><br>
    The average stock price is <b>$56</b> a near <b>50% premium</b> to the market.<br><br>
    We Observe MHLD as an aparent outlier with a stock price of $15 and 9 quarters straight of Dividend Growth.<br><br>

    <table>
      <th>Stock</th>	<th>Category</th>	<th>0</th>	<th>-1</th>	<th>-2</th>	<th>-3</th>	<th>-4</th>	<th>-5</th>	<th>-6</th>	<th>-7</th>	<th>-8</th>	<th>Sum</th>	<th>Stock Price</th>	<th>div yield</th>	<tr>
      <td>TMP</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>88.15</td>	<td>0.0201</td>	<tr>
      <td>AVA</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>39.75</td>	<td>0.0345</td>	<tr>
      <td>AWR</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>43.2</td>	<td>0.0212</td>	<tr>
      <td>EVR</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>81.35</td>	<td>0.0156</td>	<tr>
      <td>HCSG</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>42.1</td>	<td>0.0174</td>	<tr>
      <td>SBSI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>35.15</td>	<td>0.0267</td>	<tr>
      <td>SJI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>34.33</td>	<td>0.031</td>	<tr>
      <td>UBSI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>45.05</td>	<td>0.0293</td>	<tr>
      <td>FELE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>42.15</td>	<td>0.0094</td>	<tr>
      <td>HWKN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>49.2</td>	<td>0.0163</td>	<tr>
      <td>CBU</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>58.58</td>	<td>0.0215</td>	<tr>
      <td>ANDE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>38.7</td>	<td>0.0161</td>	<tr>
      <td>GK</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>95.06</td>	<td>0.0156</td>	<tr>
      <td>JJSF</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>133.75</td>	<td>0.0117</td>	<tr>
      <td>ENSG</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>18.77</td>	<td>0.0081</td>	<tr>
      <td>HI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>36.75</td>	<td>0.022</td>	<tr>
      <td>FUL</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>48.8</td>	<td>0.0113</td>	<tr>
      <td>BMI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>35.75</td>	<td>0.012</td>	<tr>
      <td id="spec">MHLD</td>	<td id="spec">Div/Share</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">1</td>	<td id="spec">9</td>	<td id="spec">15.15</td>	<td id="spec">0.0376</td>	<tr>
      <td>RLI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>57.2</td>	<td>0.0138</td>	<tr>
      <td>CWT</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>36</td>	<td>0.0192</td>	<tr>
      <td>SR</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>65.85</td>	<td>0.0298</td>	<tr>
      <td>ABM</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>40.47</td>	<td>0.0163</td>	<tr>
      <td>MATW</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>65.75</td>	<td>0.0091</td>	<tr>
      <td>BOBE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>57.6</td>	<td>0.0226</td>	<tr>
      <td>LNN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>79.98</td>	<td>0.0141</td>	<tr>
      <td>KWR</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>134.26</td>	<td>0.0099</td>	<tr>
      <td>RAVN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>30.3</td>	<td>0.0172</td>	<tr>
      <td>AEL</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>26.69</td>	<td>0.009</td>	<tr>
      <td>TNC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>71.6</td>	<td>0.0113</td>	<tr>
      <td>IPCC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>95.6</td>	<td>0.0218</td>	<tr>
      <td>ATNI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>68.3</td>	<td>0.0193</td>	<tr>
      <td>UHT</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>63.34</td>	<td>0.041</td>	<tr>
      <td>NWN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>59.3</td>	<td>0.0316</td>	<tr>
      <td>UBA</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>21.65</td>	<td>0.048</td>	<tr>
      <td>WABC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>9</td>	<td>57.71</td>	<td>0.027</td>	<tr>
      <td>FFIN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>43.85</td>	<td>0.016</td>	<tr>
      <td>MNRO</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>56.85</td>	<td>0.0106</td>	<tr>
      <td>CHE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>8</td>	<td>181.45</td>	<td>0.0055</td>	<tr>
      <td>SCL</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>76.74</td>	<td>0.0101</td>	<tr>
      <td>FINL</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>8</td>	<td>16.34</td>	<td>0.0226</td>	<tr>
      <td>NFBK</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>18.55</td>	<td>0.0167</td>	<tr>
      <td>BRC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>38.8</td>	<td>0.0209</td>	<tr>
      <td>LTC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>8</td>	<td>47.39</td>	<td>0.0462</td>	<tr>
      <td>ALE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>67.15</td>	<td>0.031</td>	<tr>
      <td>MYE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>13.75</td>	<td>0.0393</td>	<tr>
      <td>SAFM</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>92.53</td>	<td>0.0097</td>	<tr>
      <td>OXM</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>54</td>	<td>0.0185</td>	<tr>
      <td>TILE</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>8</td>	<td>19.35</td>	<td>0.0114</td>	<tr>
      <td>AIN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>46.25</td>	<td>0.0147</td>	<tr>
      <td>DAKT</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>8</td>	<td>9.24</td>	<td>0.0433</td>	<tr>
      <td>BCPC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>85.86</td>	<td>0.0044</td>	<tr>
      <td>CMD</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>84.01</td>	<td>0.0014</td>	<tr>
      <td>PFS</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>26.43</td>	<td>0.0269</td>	<tr>
      <td>HOMB</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>28.68</td>	<td>0.0119</td>	<tr>
      <td>CFNL</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>31.52</td>	<td>0.0152</td>	<tr>
      <td>CVGW</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>51.2</td>	<td>0.0156</td>	<tr>
      <td>APOG</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>57.57</td>	<td>0.0079</td>	<tr>
      <td>PETS</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>20.02</td>	<td>0.036</td>	<tr>
      <td>SMP</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>47.81</td>	<td>0.0142</td>	<tr>
      <td>B</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>50.52</td>	<td>0.0101</td>	<tr>
      <td>INDB</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>65.15</td>	<td>0.0178</td>	<tr>
      <td>GPI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>76.67</td>	<td>0.0108</td>	<tr>
      <td>UFPI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>96.87</td>	<td>0.009</td>	<tr>
      <td>NSP</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>85.95</td>	<td>0.0087</td>	<tr>
      <td>WDFC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>109.7</td>	<td>0.0149</td>	<tr>
      <td>AIT</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>62.85</td>	<td>0.0175</td>	<tr>
      <td>CHSP</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>24</td>	<td>0.0667</td>	<tr>
      <td>GTY</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>25.65</td>	<td>0.0402</td>	<tr>
      <td>ROIC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>21.3</td>	<td>0.0338</td>	<tr>
      <td>FIX</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>36.95</td>	<td>0.0074</td>	<tr>
      <td>CHCO</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>66.39</td>	<td>0.0258</td>	<tr>
      <td>POWI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>62.6</td>	<td>0.0083</td>	<tr>
      <td>COR</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>89.11</td>	<td>0.0268</td>	<tr>
      <td>KALU</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>79.16</td>	<td>0.0227</td>	<tr>
      <td>NWBI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>17.93</td>	<td>0.0335</td>	<tr>
      <td>HMN</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>7</td>	<td>42.25</td>	<td>0.0251</td>	<tr>
      <td>SAFT</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>7</td>	<td>70.8</td>	<td>0.0395</td>	<tr>
      <td>CRR</td>	<td>Div/Share</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>12.83</td>	<td>0</td>	<tr>
      <td>ADC</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>48.3</td>	<td>0.0398</td>	<tr>
      <td>SHLM</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>7</td>	<td>33.85</td>	<td>0.0242</td>	<tr>
      <td>LAD</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>6</td>	<td>95.66</td>	<td>0.0099</td>	<tr>
      <td>RGR</td>	<td>Div/Share</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>6</td>	<td>48.4</td>	<td>0.0357</td>	<tr>
      <td>CATO</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>6</td>	<td>23.21</td>	<td>0.0517</td>	<tr>
      <td>RCII</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>6</td>	<td>8.65</td>	<td>0.037</td>	<tr>
      <td>ONB</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>6</td>	<td>18.25</td>	<td>0.0285</td>	<tr>
      <td>HCI</td>	<td>Div/Share</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>6</td>	<td>47.95</td>	<td>0.025</td>	<tr>
      <td>GBCI</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>0</td>	<td>6</td>	<td>36.75</td>	<td>0.0218</td>	<tr>
      <td>LTXB</td>	<td>Div/Share</td>	<td>1</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>0</td>	<td>1</td>	<td>6</td>	<td>42.44</td>	<td>0.0137</td>	<tr>
    </table>


</article>

</div>

<div class="sidebar">
  <d>Book List</d> <br><br>
    <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=0743200403&asins=0743200403&linkId=878e479b847b1fd021721a2f8ae61582&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">One Up on Wall Street - Peter Lynch</a><br><br>
      <d>Strengthen Your Mind and Your Pockets</d><br>
    <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=B00NB86OYE&asins=B00NB86OYE&linkId=428209263703e9c0969e2310d75fb6f2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"> Audio Books </a>
    <a class="link" href="https://www.swagbucks.com"> Swag Out!</a>
    <a class="link" href="https://www.robinhood.com"> Trade with RobinHood</a>
      <br><br><d>Connect with Me!</d>
        <a href="mailto:freemarketinsights@gmail.com">
          <svg viewBox="0 0 100 100">
          <path
                d="M 32.00,10.00
                   C 32.00,10.00 82.00,10.00 82.00,10.00
                     92.66,10.02 93.98,11.34 94.00,22.00
                     94.00,22.00 94.00,61.00 94.00,61.00
                     94.00,64.67 94.57,73.92 92.83,76.77
                     90.56,80.48 85.75,79.99 82.00,80.00
                     82.00,80.00 24.00,80.00 24.00,80.00
                     19.13,80.00 7.75,81.46 5.02,76.85
                     3.81,74.80 4.00,71.35 4.00,69.00
                     4.00,69.00 4.00,42.00 4.00,42.00
                     4.00,42.00 4.00,20.00 4.00,20.00
                     4.03,15.51 3.65,14.12 7.15,11.02
                     12.46,9.13 25.73,10.00 32.00,10.00 Z
                   M 16.10,29.96
                   C 16.10,29.96 40.00,49.35 40.00,49.35
                     43.24,51.80 46.67,54.59 51.00,53.47
                     54.27,52.63 59.27,48.38 62.00,46.20
                     67.23,42.03 78.98,33.40 82.79,28.99
                     84.95,26.49 89.01,19.90 85.40,17.02
                     83.83,15.77 79.98,16.00 78.00,16.00
                     78.00,16.00 36.00,16.00 36.00,16.00
                     30.40,16.00 18.11,15.44 13.31,16.60
                     8.68,20.53 12.81,26.47 16.10,29.96 Z
                   M 10.00,64.00
                   C 10.00,66.19 9.79,69.84 11.02,71.69
                     12.75,74.27 16.27,73.98 19.00,74.00
                     19.00,74.00 58.00,74.00 58.00,74.00
                     58.00,74.00 80.00,74.00 80.00,74.00
                     82.14,73.96 84.77,74.04 86.40,72.40
                     88.32,70.48 87.99,66.54 88.00,64.00
                     88.00,64.00 88.00,35.00 88.00,35.00
                     88.00,35.00 65.00,52.79 65.00,52.79
                     61.12,55.84 55.99,60.07 51.00,60.79
                     44.10,61.77 39.04,57.61 34.00,53.60
                     34.00,53.60 11.00,35.00 11.00,35.00
                     9.10,39.80 9.99,57.77 10.00,64.00 Z" />
        </svg>
      </a>
      <a href="https://twitter.com/fmarketinsights">
        <svg viewBox="0 0 100 100">
          <path d="M 69.00,12.19
                   C 75.47,12.92 78.27,16.53 81.29,16.71
                     83.75,16.86 89.53,14.05 92.00,13.00
                     92.00,13.00 88.00,22.00 88.00,22.00
                     88.00,22.00 94.00,21.00 94.00,21.00
                     91.12,27.09 88.01,28.03 86.02,32.00
                     84.64,34.77 85.15,38.00 84.83,41.00
                     84.41,44.92 82.69,50.37 81.13,54.00
                     74.51,69.43 60.89,81.27 44.00,83.85
                     44.00,83.85 29.00,83.85 29.00,83.85
                     21.81,83.91 9.84,81.60 6.00,75.00
                     15.22,76.45 22.29,73.96 30.00,69.00
                     22.00,66.20 17.53,63.56 15.00,55.00
                     15.00,55.00 21.00,55.00 21.00,55.00
                     12.53,52.11 9.42,45.47 9.00,37.00
                     9.00,37.00 15.00,39.00 15.00,39.00
                     8.34,30.78 7.15,24.53 12.00,15.00
                     25.40,25.71 30.28,32.47 49.00,34.00
                     46.55,21.59 56.33,10.76 69.00,12.19 Z
                   M 87.00,22.00
                   C 87.00,22.00 88.00,23.00 88.00,23.00
                     88.00,23.00 88.00,22.00 88.00,22.00
                     88.00,22.00 87.00,22.00 87.00,22.00 Z" />
        </svg>
      </a>

</div>


</div>

</body>





</html>
